# dependencies
node_modules
api/node_modules

# Database and dataset
/data/
*.db
!api/data/vocab.db


# Python cache
__pycache__/
*.pyc

# build output
.next
dist

# env files
.env
.env.local
.env.development
.env.production

# misc
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lock files (if you don't want them versioned)
# Uncomment ONLY if you intentionally don't want lock files tracked
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Windows
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

