# dependencies
node_modules
api/node_modules

# Database and dataset
data/
*.db

# Python cache
__pycache__/
*.pyc

# build output
.next
dist

# env files
.env
.env.local
.env.development
.env.production

# misc
.DS_Store
