/* src/styles.css */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.widget-container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px auto;
  text-align: center;
  background: #fefefe;
}

.language {
  font-weight: /*bold*/ lighter;
  font-size: 4px;
  margin-bottom: 8px;
}

.word {
  font-size: 24px;
  font-weight:  600 /*bold*/;
  margin-bottom: 4px;
}

.pronunciation {
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

.definition {
  font-size: 16px;
  line-height: 1.4;
}

.error {
  color: red;
}
